@import '_palette';
@import '_variables';
@import '_animations';
@import '_logo';

body {
  font: 100% $font-stack;
  color: $color-primary-4;
  background-color: $color-primary-1;
  margin: 0;
  padding: 0;

  header {
    background-color: $color-primary-3;
  }

  section#global {
    width: 976px;
    margin: 0 auto;
    padding: $gutter-v $gutter-h;

    @include tablet {
      width: 700px;
    }

    @include phone {
      width: 400px;
    }

    *:first-child {
      margin-top: 0;
    }
  }
}
