@import '_palette';
@import '_variables';
@import '_animations';
@import '_logo';

* {
  box-sizing: border-box;
}

body {
  font: 100% $font-stack;
  color: $color-primary-4;
  background-color: $color-primary-1;
  margin: 0;
  padding: 0;

  header {
    background-color: $color-primary-3;
  }

  h1, h2, h3, h4, h5 {
    color: $color-primary-3;
    margin-bottom: 0;
  }

  main {
    width: $global-width;
    margin: 0 auto;
    padding: $gutter;
    overflow: hidden;

    @include tablet {
      width: $global-width-t;
    }

    @include phone {
      width: 100%;
    }

    *:first-child {
      margin-top: 0;
    }

    >nav {
      float: left;
      width: $global-width - $article-width - ($gutter-h * 2); 

      @include tablet {
        width: $global-width-t - $article-width-t - ($gutter-h * 2); 
      }

      @include phone {
        width: 100%;
        float: none;
      }
    }

    &::before {
      content: "";
      display: block;
      background: linear-gradient(to top, $color-primary-1, $white); 
      position: absolute;
      height: 75px;
      left: 0;
      width: 100%; 
      margin-top: -$gutter-v;
      z-index: -1;
    }
  }

  article {
    float: right;
    width: $article-width;
    background-color: $white;
    border-radius: $radius;
    padding: $gutter;
    box-shadow: $shadow;

    @include tablet {
      width: $article-width-t;
    } 

    @include phone {
      float: none;
      width: 100%;
    }
  }
}
